@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.backdrop-blurry {
	backdrop-filter: saturate(180%) blur(5px);
	-webkit-backdrop-filter: saturate(180%) blur(5px);
}

.backdrop-blurry-after::after {
	backdrop-filter: saturate(180%) blur(5px);
	-webkit-backdrop-filter: saturate(180%) blur(5px);
}


::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;

	background-color: theme(backgroundColor.neutral.500);
}


.card-gradient-back {
	position: relative;
}

.card-gradient-back::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		var(--color),
		transparent 60%
	);
	position:absolute;
	z-index:2;
	content: "";
	border-radius: inherit;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0;
	transition: opacity 500ms;
}

.card-gradient-back:hover::before {
	opacity: 1;
}
